/* Both input style blocks clears type=number default appearance */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    /* size limit */
    width: 1rem;
    /* custom styling */
    text-align: center;
    font-weight: bold;
    color: #8a8a8a;
    border: 1px solid #e1dfdc;
    box-shadow: 0 0 0 0;
}

input[type="number"]:focus {
    border: 1px solid #6fbbe1;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.06);
    outline: none;
}

.App {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* Basic styling */
    border-radius: 4px;
    border: 1px solid #e1dfdc;
    background-color: #fdfdfc;
    color: #8a8a8a;
    font-weight: 600;
}

.cart {
    /* Grid CSS */
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: repeat(1fr);
    padding: 3px;
}

.cart-item:first-child {
    border: none;
}

.cart-item {
    /* display: flex; */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 0.3fr 1fr 0.3fr;
    margin: 0px 10px;
    padding: 15px 0px;
    border-top: 1px #e1dfdc dashed;
    border-bottom: 1px #e1dfdc dashed;
    align-items: center;
}

.cart-item:last-child {
    border: none;
}

.cart-item > span {
    margin: 5px;
}

.cart-item > span.cart-item-cost {
    color: #e5986e;
    font-weight: bold;
    font-size: 1rem;
    text-align: end;
}

.cart-item > span.cart-item-control {
    background: none;
    color: #ceccc9;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    justify-content: flex-end;
}

.cart-item > span.cart-item-control > button {
    padding: 0;
    border: none;
    background: none;
    color: #ceccc9;
    font-size: 1em;
}

.cart-controls {
    display: flex;
    border-top: 1px #ededec solid;
    color: #757474;
    padding: 20px 15px;
    align-content: center;
    justify-content: center;
    background-color: #f8f9f7;
}

.cart-controls > .cart-total {
    font-weight: bold;
    font-size: 1.4em;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.cart-controls > .cart-control-buttons > span:first-child > button {
    padding: 0;
    border: none;
    background: none;
    font-weight: bold;
    color: #8a8a8a;
    margin-right: 10px;
}

.cart-controls > .cart-control-buttons > span:last-child > button {
    background-color: #6fbbe1;
    padding: 10px;
    border: none;
    color: white;
    font-weight: bold;
}
